st.font: Monaco-Linux:pixelsize=16
xterm*faceName: Monaco-Linux
xterm*faceSize: 12
!*.alpha: 0.9

! window border inner
st.opacity: 255
st.borderpx: 5

!st.foreground:  #f3f3f0
!st.background:  #171A1B
!st.cursorColor: #f3f3f0

! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #ffffff

! black
*.color0:       #000000
*.color8:       #808080

! red
*.color1:       #fe0100
*.color9:       #fe0100

! green
*.color2:       #33ff00
*.color10:      #33ff00

! yellow
*.color3:       #feff00
*.color11:      #feff00

! blue
*.color4:       #0066ff
*.color12:      #0066ff

! magenta
*.color5:       #cc00ff
*.color13:      #cc00ff

! cyan
*.color6:       #00ffff
*.color14:      #00ffff

! white
*.color7:       #d0d0d0
*.color15:      #FFFFFF
